.react-multi-carousel-item {
    display: flex;
}

.carousel-container {
    background-color: $color-1;
    width:100vw;
 }

.carousel-container2 {
    background-color: $color-0;
 }

 .custom-dot-list-style {
     display: flex;
     justify-content: space-between;
     
     .react-multi-carousel-dot {
        padding: 0;
        display: flex;
        margin: 0px;
        align-items: flex-end;
        flex:1;
        button {
            display: inline-block;
            width: 100%;
            height: 2px;
            border: none;
            border-radius: 2em;
            opacity: 1;
            padding: 5px 5px 5px 5px;
            box-shadow: none;
            transition: background .5s;
            border-width: 0;
            border-style: solid;
            color: grey;
            background-color:$color-1;
            padding: 0;
            margin: 0;
            margin-right: 0;
            outline: 0;
            cursor: pointer;
        }

    }
    .react-multi-carousel-dot--active {
        button {
        background-color:$color-5;
        height: 2px;
        }
    }
}


.browseNav {
    padding:0em 2em 0em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .browseNavButton {
        padding:.5em;
        text-transform: capitalize;
    }
    a:hover {
        color: $color-5;
        text-decoration: none;
        background-color:$color-1;
    }

}


.ProductList {
    padding-top: 5em;
    background-color:$color-1;
}

.productsListing {
    display: flex;
    background-color:#fff;
    padding-top:.2em;
    .col {
        display: flex;
        flex: 1 0 49%;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 50%;
        padding:1em;
    }

}



.listings { 
    h1 {
        text-align: center;
    }
}


.categoryContainer {
    // .categoryHeading {
    //     text-align: center;
    //     display: flex;
    //     justify-content: center;
    //     padding:1em;
    //     background-color:$color-1;
    //     border-bottom:thin solid rgba(51, 51, 51, 0.199);
    // }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border:none;
        .card-body {
            padding:0;
            .card-title {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-top:1em;
                margin:0;
                font-size:1em;
            }
        }
    }
}

.productsListing {
    .col {
        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border:none;
            .card-body {
                padding:0;
                .card-title {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding-top:1em;
                    margin:0;
                    
                }
            }
        }
    }

    .col:nth-child(odd) {
        border-right:solid thin $color-6;
        border-bottom:solid thin $color-6;
    }
    .col:nth-child(even) {
        border-bottom:solid thin $color-6;
    }
}